header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0.9rem 0;
    background-color: #fff;
    align-items: center;
    will-change: top;
    transition: top 0.35s ease;
    z-index: 3;

    .header-bar {
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: auto;
        height: 3.125rem;
        margin-left: 1rem;
        padding: 0.125rem;
        z-index: -1;
    }
}

.gn-trigger {
    position: relative;
    width: 3rem;
    height: 3rem;
    border: none;
    outline: 0;
    background: transparent;
    cursor: pointer;
    margin-right: 1rem;

    .burger-menu {
        position: absolute;
        width: 2.75rem;
        height: 0.2rem;
        background-color: #212121;
        border-radius: 1.5rem;
        top: 35%;
        right: 0;

        &:before, &:after {
            display: block;
            content: '';
            position: absolute;
            right: 0;
            width: 2.75rem;
            height: 0.2rem;
            background-color: #212121;
            border-radius: 1.5rem;
            box-shadow: 0px 3px 7px -1px box-shadow;
        }

        &:before {
            top: -0.75rem;
        }

        &:after {
            top: 0.75rem;
        }
    }

    .burger-menu,
    .burger-menu:before,
    .burger-menu:after {
        transition: transform top background;
        transition-duration: 0.5s;
    }

    &.is-active .burger-menu {
        width: 0;

        &:before,
        &:after {
            background-color: #212121;
            top: 0;
            right: 0;
        }

        &:before {
            transform: rotate(400deg);
        }

        &:after {
            transform: rotate(-400deg);
        }
    }
}

.gn {
    display: none;
    position: absolute;
    top: 4.5rem;
    margin-right: 1rem;
    width: 100vw;
    background-color: inherit;

    ul {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: inherit;
    }

    li {
        padding: 2rem;
    }

    a {
        color: #212121;
        font-size: 1rem;
        font-weight: 600;
    }
}