/* --- Global --- */
body {
    background: #fff;
    color: #212121;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

section {
    padding: 4.25rem 1.5rem;
}

li {
    list-style: none;
    list-style-type: none;
}

a {
    color: #212121;
    text-decoration: none;
}

/* --- Typography --- */
h3 {
    font-size: 1.44rem;
}

/* --- Helpers --- */
.wrapper {
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    position: relative;
}

.flex {
    display: flex;
}

/* --- Header --- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0.9rem 2rem;
    background-color: #212121;
    align-items: center;
    will-change: top;
    transition: top 0.35s ease;
    z-index: 2;
}

header .header-bar {
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 45px;
    height: 80px;
    margin-left: 20px;
    padding: 2px;
    z-index: -1;
}

.gn-trigger {
    position: relative;
    width: 3rem;
    height: 3rem;
    border: none;
    outline: 0;
    background: transparent;
    cursor: pointer;
}

.gn-trigger .burger-menu {
    position: absolute;
    width: 3rem;
    height: 0.2rem;
    background-color: #fff;
    border-radius: 1.5rem;
    top: 35%;
    right: 0;
}

.gn-trigger .burger-menu:before,
.gn-trigger .burger-menu:after {
    display: block;
    content: '';
    position: absolute;
    width: 3rem;
    height: 0.2rem;
    background-color: #fff;
    border-radius: 1.5rem;
    box-shadow: 0px 3px 7px -1px box-shadow;
}

.gn-trigger .burger-menu:before {
    top: -0.75rem;
    right: 0;
}

.gn-trigger .burger-menu:after {
    top: 0.75rem;
    right: 0;
}

.burger-menu,
.burger-menu:before,
.burger-menu:after {
    transition: transform top background;
    transition-duration: 0.5s;
}

.gn-trigger.is-active .burger-menu {
    width: 0;
}

.gn-trigger.is-active .burger-menu:before,
.gn-trigger.is-active .burger-menu:after {
    background-color: #fff;
    top: 0;
    right: 0;
}

.gn-trigger.is-active .burger-menu:before {
    transform: rotate(400deg);
}

.gn-trigger.is-active .burger-menu:after {
    transform: rotate(-400deg);
}

.gn {
    display: none;
    position: absolute;
    top: 4.5rem;
    left: -2rem;
    width: 100vw;
    background-color: inherit;
}

.gn ul {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: inherit;
}

.gn li {
    padding: 2rem;
}

.gn a {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

/* --- Banner Animation --- */
.banneranim-container {
    width: 110%;
    position: relative;
    left: -1.5rem;
}

svg {
    overflow: visible;
}

/* --- Interactive GSAP Truck Animation --- */
.background {
    height: 260px;
    width: 100vw;
    background-color: #F5F5F5;
    z-index: -3;
    margin-bottom: 40px;
    margin-left: -358px;
}
.truck {
    margin: 20px; 
    z-index: 2;
    position: relative; 
    bottom: -158px; 
}
.ground {
    width: 100vw; 
    height: 16px; 
    background-color: rgb(66, 66, 66); 
    position: relative;
    top: 128px;
}
.btn {
    width: 100px; 
    height: 25px; 
    margin: 10px; 
    border-radius: 10%; 
    cursor: pointer; 
    background-color:rgb(126, 124, 126); 
    text-transform: uppercase;
    text-align: center; 
    line-height: 25px; 
    color: white; 
    font-size: 12px;
}
.btn:hover {
    background-color: rgb(166, 163, 168);
}
.control {
    display: flex;
    justify-content: center;
}

/* --- Calculator --- */
.calculator .calculator-box {
    max-width: 29.125rem;
    margin: 0 auto;
    flex-direction: column;
}
.calculator .truck-type-container {
    justify-content: space-evenly;
    align-items: center;
    margin: 1.57rem 0 3.25rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.calculator .truck-type {
    width: 5rem;
    height: 2.5rem;
}

.calculator .input-container {
    margin: 2.0625rem auto 1.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator input[type=number] {
    width: 80vw;
    height: 2.5rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    border: 0.125rem solid #ccc;
    border-radius: 0.25rem;
    flex-direction: column;
}

.calculator .calc-btn {
    margin-bottom: 4.08rem;
}

/* --- Contact Us --- */
.contact-us {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us p {
    margin-top: 0;
}

.contact-us .creator-links {
    text-align: left;
}

.contact-us li {
    margin-bottom: 0.8rem;
}

.contact-us a {
    border-bottom: #212121 solid 0.05rem;
}

/* --- Media Queries --- */
@media(min-width:450px) {
    footer .hidden {
        display: none;
    }
}

@media(min-width:768px) {
    .calculator input[type=number] {
        min-width: 28.75rem;
    }
}