/* --- Global --- */
body {
    background: #212121;
    color: #fff;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

section {
    padding: 4rem 1.5rem;
}

li {
    list-style: none;
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

/* --- Helpers --- */
.wrapper {
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    position: relative;
}

.flex {
    display: flex;
}

/* --- Header --- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0.9rem 2rem;
    background-color: #212121;
    align-items: center;
    will-change: top;
    transition: top 0.35s ease;
    z-index: 2;
}

header .header-bar {
    align-items: center;
}

header .logo {
    width: 4rem;
    height: 4rem;
    align-items: center;
}

.gn-trigger {
    position: relative;
    width: 3rem;
    height: 3rem;
    border: none;
    outline: 0;
    background: transparent;
    /* margin-left: auto; */
    cursor: pointer;
}

.gn-trigger .burger-menu {
    position: absolute;
    width: 3rem;
    height: 0.2rem;
    background-color: #fff;
    border-radius: 1.5rem;
    top: 35%;
    right: 0;
}

.gn-trigger .burger-menu:before,
.gn-trigger .burger-menu:after {
    display: block;
    content: '';
    position: absolute;
    width: 3rem;
    height: 0.2rem;
    background-color: #fff;
    border-radius: 1.5rem;
    box-shadow: 0px 3px 7px -1px box-shadow;
}

.gn-trigger .burger-menu:before {
    top: -0.75rem;
    right: 0;
}

.gn-trigger .burger-menu:after {
    top: 0.75rem;
    right: 0;
}

.burger-menu,
.burger-menu:before,
.burger-menu:after {
    transition: transform top background;
    transition-duration: 0.5s;
}

.gn-trigger.is-active .burger-menu {
    width: 0;
}

.gn-trigger.is-active .burger-menu:before,
.gn-trigger.is-active .burger-menu:after {
    background-color: #fff;
    top: 0;
    right: 0;
}

.gn-trigger.is-active .burger-menu:before {
    transform: rotate(400deg);
}

.gn-trigger.is-active .burger-menu:after {
    transform: rotate(-400deg);
}

.gn {
    display: none;
    position: absolute;
    top: 4.5rem;
    left: -2rem;
    width: 100vw;
    background-color: inherit;
}

.gn ul {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: inherit;
}

.gn li {
    padding: 2rem;
}

.gn a {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

/* --- Calculator --- */
.calculator .truck-type-container {
    justify-content: space-between;
    align-items: center;
    padding: 1.57rem 18.25rem 3.25rem;
}

.calculator .truck-type {
    width: 2rem;
    height: 2rem;
    background-color: #fff;
}

.calculator .truck-1 {
    background-color: skyblue;
}

.calculator .truck-2 {
    background-color: violet;
}

.calculator .truck-3 {
    background-color: lightgreen;
}

.calculator .truck-4 {
    background-color: lightgoldenrodyellow;
}

.calculator .truck-5 {
    background-color: orange;
}

.calculator .input-container {
    margin: 2.0625rem auto 2.625rem;
}

.calculator input[type=number] {
    width: 28.75rem;
    height: 2.5rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    border: 0.125rem solid #ccc;
    border-radius: 0.25rem;
    flex-direction: column;
}

/* --- Media Queries --- */

@media(min-width:450px) {
    footer .hidden {
        display: none;
    }
}